/* -------------------------------------------------------------------------- */
/* --- Main Frame                                                         --- */
/* -------------------------------------------------------------------------- */

.sidebar-ruler {
    display: block;
    visibility: hidden;
    width: 80px;
    height: 0px;
}

.component-info {
    color: var(--text) ;
    min-width: 50px;
    padding-top: 4px;
    font-size: smaller;
}

/* -------------------------------------------------------------------------- */
/* --- Styling LabViews                                                   --- */
/* -------------------------------------------------------------------------- */

.labview-field {
    position: relative ;
    left: -8px ;
}

.labview-stock:hover {
    background: var(--background-profound);
}

.labview-stock:hover * {
    cursor: move ;
}

.labview-stock.dome-dragging
{
    border-radius: 4px ;
    background: var(--background-profound);
    border: thin solid black ;
}

.labview-content
{
    background: var(--background);
}

.labview-titlebar
{
    background: var(--background-profound);
    height: 24px
}

.labview-handle
{
    flex: 1 1 auto ;
    cursor: move ;
}

.labview-close:hover
{
    fill: var(--negative-button-color) ;
}

.labview-icon {
    fill: var(--info-text);
}

/* -------------------------------------------------------------------------- */
