#########################################
# Makefile
#########################################

.dome-*.stamp
.dome-*.back
.dome-*.orig
.dome-*.lock

/doc/template/gallery-icons.html

#########################################
