---
Language: Cpp
BasedOnStyle: LLVM

AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: NonAssignment
IndentPPDirectives: AfterHash
ReflowComments: false
