ENV OPAM_SWITCH_PREFIX "/home/opam/.opam/@OCAMLV@"\n
ENV CAML_LD_LIBRARY_PATH "/home/opam/.opam/@OCAMLV@/lib/stublibs:/home/opam/.opam/@OCAMLV@/lib/ocaml/stublibs:/home/opam/.opam/@OCAMLV@/lib/ocaml"\n
ENV OCAML_TOPLEVEL_PATH "/home/opam/.opam/@OCAMLV@/lib/toplevel"\n
ENV MANPATH "$MANPATH:/home/opam/.opam/@OCAMLV@/man"\n
ENV PATH "/home/opam/.opam/@OCAMLV@/bin:$PATH"\n
\n
## Avoid prompts for time zone\n
ENV TZ=Europe/Paris\n
\n
## Fix issue with libGL on Windows\n
ENV LIBGL_ALWAYS_INDIRECT=1\n
