###########
# General #
###########

TAGS
*.cm*
*.o
*.a
*.annot
#ocamlyacc -v
*.output
*~
*_DEP
*.depend
\#*
.\#*
.DS_Store
*.tmp

#artifacts from execution
frama_c_journal.ml
/.frama-c/
/frama-c-*.tar.gz
/.merlin
/headers/hdrck
/headers/hdrck.exe

#build

configure
autom4te.cache
.log.autoconf
/.depend
/config.log
/config.status
/frama-c-*.tar.gz
/distributed
/.log.autoconf
/.Makefile.user
/ocamlgraph/
*.check_mli_exists
.Makefile.plugin.generated
.ocamldebug

#tests

/tests/ptests_config
/tests/**/result/
/tests/**/result_*/

/tests/crowbar/*constfold
/tests/crowbar/integer_bb_pretty
/tests/crowbar/mutable
/tests/crowbar/output-*
/tests/crowbar/test_ghost_cfg
/tests/spec/preprocess_dos.c
/tests/*/*.opt

/devel_tools/fc-time
/devel_tools/fc-memuse
/bin/ocamldep_transitive_closure
/bin/check_newlines
/bin/check_newlines.exe
/bin/isutf8
/bin/isutf8.exe

#share
/share/Makefile.config
/share/Makefile.dynamic_config
/share/Makefile.kernel
/share/frama-c.rc
#created by create_share_link target
/share/.gitignore
/share/manuals/

#doc

/doc/manuals/
/doc/*/*.dot
/doc/*/*.aux
/doc/*/*.bbl
/doc/*/*.blg
/doc/*/*.cb*
/doc/*/*.ilg
/doc/*/*.ind
/doc/*/*.toc
/doc/*/*.lof
/doc/*/*.log
/doc/*/*.out
/doc/*/*.idx
/doc/*/*.fls
/doc/*/*.fdb_latexmk
/doc/*/*.synctex.gz
/doc/*/frama-c-affiliation.tex

/doc/acsl/

/doc/aorai/aorai-example.tgz
/doc/aorai/aorai-example/
/doc/aorai/frama-c-aorai-example.tgz
/doc/aorai/frama-c-aorai-example
/doc/aorai/main.pdf
/doc/aorai/ya_file.tex
/doc/aorai/basic_ya.tex
/doc/aorai/extended_ya.tex
/doc/aorai/ya_variables.tex

/doc/code/print_api/*.html
/doc/code/print_api/*.dot
/doc/code/print_api/lexer.ml
/doc/code/print_api/grammar.mli
/doc/code/print_api/grammar.ml
/doc/code/print_api/dynamic_plugins.mli
/doc/code/print_api/_build/

/doc/developer/tutorial/viewcfg/src/META.frama-c-viewcfg
/doc/developer/tutorial/viewcfg/src/Makefile
/doc/developer/tutorial/viewcfg/src/gui/
/doc/developer/tutorial/viewcfg/src/top/

/doc/doxygen

/doc/pdg/call-f.eps
/doc/pdg/call-f.fig
/doc/pdg/call-f.pdf
/doc/pdg/call-g.eps
/doc/pdg/call-g.fig
/doc/pdg/call-g.pdf
/doc/pdg/compil.ok
/doc/pdg/contents_motif.gif
/doc/pdg/ctrl-dpds.eps
/doc/pdg/ctrl-dpds.pdf
/doc/pdg/ex-goto.eps
/doc/pdg/ex-goto.pdf
/doc/pdg/exple-call.c
/doc/pdg/goto.eps
/doc/pdg/goto.pdf
/doc/pdg/index.html
/doc/pdg/logo-inria-sophia.eps
/doc/pdg/logo-inria-sophia.pdf
/doc/pdg/next_motif.gif
/doc/pdg/pdg-call.eps
/doc/pdg/pdg-call.pdf
/doc/pdg/pdg.css
/doc/pdg/pdg.dvi
/doc/pdg/pdg.haux
/doc/pdg/pdg.hind
/doc/pdg/pdg.html
/doc/pdg/pdg.htoc
/doc/pdg/pdg.image.tex
/doc/pdg/pdg.ps
/doc/pdg/pdg0*.html
/doc/pdg/pdg00*.png
/doc/pdg/previous_motif.gif

/doc/server/

#lib
/lib/fc/
/lib/plugins/*.mli
/lib/plugins/*.ml
/lib/plugins/top/
/lib/plugins/gui/
/lib/plugins/top/
/lib/plugins/META.frama-c-*
/lib/plugins/.placeholders_ready

#plugins
/share/e-acsl/
/share/c2fc/
/src/plugins/*/configure
/src/plugins/*/.depend
/src/plugins/*/autom4te.cache/
/src/plugins/*/Makefile.plugin.generated
/src/plugins/*/doc/*/*.dot
/src/plugins/*/doc/*/*.aux
/src/plugins/*/doc/*/*.bbl
/src/plugins/*/doc/*/*.blg
/src/plugins/*/doc/*/*.cb*
/src/plugins/*/doc/*/*.ilg
/src/plugins/*/doc/*/*.ind
/src/plugins/*/doc/*/*.toc
/src/plugins/*/doc/*/*.lof
/src/plugins/*/doc/*/*.log
/src/plugins/*/doc/*/*.out
/src/plugins/*/doc/*/*.idx
Makefile.plugin.generated

# WP/Coq Generated file
.lia.cache

# generated ML files

/src/libraries/utils/json.ml
/src/kernel_internals/runtime/fc_config.ml
/src/kernel_internals/parsing/logic_lexer.ml
/src/kernel_internals/parsing/logic_parser.ml
/src/kernel_internals/parsing/logic_parser.mli
/src/kernel_internals/parsing/logic_preprocess.ml
/src/kernel_internals/parsing/clexer.ml
/src/kernel_internals/parsing/cparser.ml
/src/kernel_internals/parsing/cparser.mli
/src/libraries/stdlib/transitioning.ml
/src/plugins/callgraph/cg_viewer.ml
/src/plugins/gui/debug_manager.ml
/src/plugins/gui/dgraph_helper.ml
/src/plugins/gui/GSourceView.ml
/src/plugins/gui/GSourceView.mli
/src/plugins/gui/gtk_compat.ml
/src/plugins/markdown-report/META
/src/plugins/value/Eva.mli

# generated tar.gz files

/doc/developer/hello.tar.gz
hello-*.tar.gz

#######################
# should remain empty #
#######################
